.mydetails, .myskills {
    background-color: #173e43;
}
.row-eq-height .first {
    background-color: #173e43;
}

.row-eq-height .second {
    background-color: #173e43;
    margin-bottom: 25px;
}

.row-eq-height .third {
    background-color: #173e43;
}
.contact-me .contacts{
    background-color: #173e43;
}

.about-me .head-title{
  font-size: 40px;
}

.myportfolio .head-title{
    font-size: 40px;
}

.contact-me .head-title{
    font-size: 40px;
}

.about-me .title{
    color: #fae596;
}

.myskills .title{
    color: #fae596;
}

.skillTable .title{
    color: #fae596;
}

p{
    color: #dddfd4;
}

.skill-info h4{
    color: #dddfd4;
}

.social i{
    color: #3fb0ac;
}


.social i:hover{
    color: #31D4CE;
}

.contact-me .contact-info{
    color: #fae596;
}

.contact-me .p1{
    color: #dddfd4;
}

.contact-me .p1 a{
    color: #dddfd4;
}

.projects {
    position: relative;
}


.projects img {
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}